<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>locations</key>
	<dict>
		<key>0</key>
		<string>Addis</string>
		<key>1</key>
		<string>Gruranda</string>
	</dict>
	<key>types</key>
	<dict>
		<key>0</key>
		<string>Baseline</string>
		<key>1</key>
		<string>Monthly</string>
		<key>2</key>
		<string>Symptomatic</string>
		<key>3</key>
		<string>Follow Up</string>
	</dict>
	<key>genders</key>
	<dict>
		<key>0</key>
		<string>Not Specified</string>
		<key>1</key>
		<string>Male</string>
		<key>2</key>
		<string>Female</string>
	</dict>
	<key>yesno</key>
	<dict>
		<key>0</key>
		<string>No</string>
		<key>1</key>
		<string>Yes</string>
	</dict>
	<key>ears</key>
	<dict>
		<key>0</key>
		<string>None</string>
		<key>1</key>
		<string>Left</string>
		<key>2</key>
		<string>Right</string>
		<key>3</key>
		<string>Both</string>
	</dict>
	<key>ag_types</key>
	<dict>
		<key>0</key>
		<string>Type A</string>
		<key>1</key>
		<string>Type B</string>
	</dict>
	<key>ag_routes</key>
	<dict>
		<key>0</key>
		<string>IM</string>
		<key>1</key>
		<string>IV</string>
	</dict>
	<key>severity</key>
	<dict>
		<key>0</key>
		<string>None</string>
		<key>1</key>
		<string>Mild</string>
		<key>2</key>
		<string>Severe</string>
	</dict>
</dict>
</plist>
